<!DOCTYPE html>
<header class="masthead p-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">myfriends</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-99 font-weight-light mb-9">Bienvenido a myfriends una red social en la que podras tener tus fotos alojadas sin que ocupen espacio en tu telefono y podras ver fotos de los demas crearte un perfil y ver los perfiles de los demas</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger "href="/signup">Registrate</a>
        </div>
      </div>
    </div>
  </header>
  <section class="page-section"id="services">
    <div class="container">
      <h2 class="text-center mt-0"></h2>
      <hr class="divider my-4">
    </div>
	    <div class="col-md-7 mx-auto">
		    <div class="card mt-4 text-center">
			    <div class="card-header">
				    <h1 class="h4">
					    Inicia Secion
				    </h1>
			    </div>
			    <div class="card-body">
				    <form action="/signin"method="POST">
					    <div class="form-group">
						    <input type="email"class="form-control"name="email"placeholder="correo electronico" autofocus>
					    </div>
					    <div class="form-group">
						    <input type="password"class="form-control"name="password"placeholder="Contraseña">
					    </div>
					    <button class="btn btn-primary btn-block">
						    Inicia Secion
					    </button>
				    </form>
			    </div>
		    </div>
	    </div>
    </div>


