<!DOCTYPE html>
<div class="overlay"></div>
	<img src="/fondo/image.jpg"alt="paisaje">
  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">myfriends</h1>
            <p class="mb-5">Bienvenido a myfriends un sitio en el que podras saber mas sobre tus amigos y que tus amigos sepan mas sobre ti mantenerse encontacto y hasta saber si eres guapo o no</p>
	  </div>
	</div>
      </div>
    </div>
    <div class="row p-4">
	    <div class="col-md-7 mx-auto">
		    <div class="card mt-4 text-center">
			    <div class="card-header">
				    <h1 class="h4">
					    Inicia Secion
				    </h1>
			    </div>
			    <div class="card-body">
				    <form action="/signin"method="POST">
					    <div class="form-group">
						    <input type="email"class="form-control"name="email"placeholder="Email" autofocus>
					    </div>
					    <div class="form-group">
						    <input type="password"class="form-control"name="password"placeholder="Password">
					    </div>
					    <button class="btn btn-primary btn-block">
						    Inicia Secion
					    </button>
				    </form>
			    </div>
		    </div>
	    </div>
    </div>


